@media (max-width: 1366px) {
    #banner-main .wrap-content-banner .container{
        top: calc(50% + 40px);
    }
    #banner-main #background-banner{
        min-width: 500px;
    }
    #banner-main .wrap-content-banner .content-banner .title .hastag {
        font-size: 24px;
    }
    #banner-main .wrap-content-banner .content-banner .title {
        font-size: 44px;
        margin-bottom: 23px;
    }
    #banner-main .wrap-content-banner .content-banner .text {
        font-size: 24px;
    }
    #form-top form .text {
        font-size: 20px;
    }
    .btn-submit {
        font-size: 18px;
    }
    #list-rate .item .title {
        font-size: 44px;
    }
    #list-rate .item .title img{
        height: 40px;
    }
    #list-cntt [class*="col-"].pl-5{
        padding-left: 30px!important;
    }
    #list-cntt [class*="col-"].pr-5{
        padding-right: 30px!important;
    }
}
@media (max-width: 1200px) { 
    #banner-main .wrap-content-banner .content-banner .title {
        font-size: 37px;
        margin-bottom: 20px;
    }
    #banner-main .wrap-content-banner .content-banner .title .hastag {
        font-size: 20px;
        padding-block: 8px;
    }
    #banner-main .wrap-content-banner .content-banner .text {
        font-size: 20px;
    }
    #list-rate .item .title {
        font-size: 38px;
        min-height: 49px;
    }
    #list-rate .item .title img{
        height: 35px;
    }
    #list-rate .item .text {
        font-size: 14px;
    }
    #list-cntt .title-section,
    #branchs .title-branch,
    #about-us .box-title,
    #map-resiger .title,
    #actions .box-title,
    #form-resiger-main .box-title,
    #slide-service .box-title {
        font-size: 24px;
    }
    #slide-service .item .content a .title {
        font-size: 22px;
        min-height: 46px;
    }
    #branchs .list-branch .item-branch {
        padding: 0 20px;
        margin-bottom: 25px;
    }
    header#header .box-header {
        padding: 10px 25px;
    }
    header#header .box-header .logo img{
        height: 55px;
    }
    header#header {
        top: 25px;
    }
}
@media (max-width: 1024px) {
    .box-fixed-footer {
        bottom: 40px;
        left: 20px;
    }
    #form-top form{
        flex-direction: column;
        text-align: center;
    }
    #form-top form .text{
        margin-bottom: 10px;
    }
    #form-top form .btn-submit{
        margin-top: 15px;
    }
    #list-rate .row{
        display: none;
    }
    #map-resiger .text-step {
        font-size: 16px;
    }
    #map-resiger .box-content .title-step {
        font-size: 15px;
    }
    #map-resiger .box-content {
        padding: 10px 15px 15px;
    }
    #map-resiger .box-content .text {
        font-size: 13px;
        min-height: 33.5px;

    }
    #slide-service .item .content {
        padding: 15px 25px 25px;
    }
    #branchs .wrap-branch .btn-link {
        font-size: 17px;
    }
    #categoryModal .modal-content .box-content .box-image{
        margin-right: 20px;
    }
    #categoryModal .modal-content .box-content .contents, #categoryModal .modal-content .box-content .contents>* {
        font-size: 14px;
        margin-bottom: 8px;
        letter-spacing: unset;
    }
    #categoryModal button.close{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        background: #FFF;
        border-radius: 100%;
    }
    #categoryModal button.close span{
        font-size: 20px;
    }
}
@media (max-width: 992px) {
    header#header .box-header{
        position: relative;
    }
    header#header .wrap-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #151949;
        transform: translateX(calc(-100% - 40px));
        transition: all .3s;
        padding-bottom: 20px;
    }
    header#header .wrap-menu.active {
        transform: translateX(0);
        transition: all .3s;
    }
    header#header .wrap-menu .box-menu{
        flex-direction: column;
        padding-top: 20px;
    }
    header#header .wrap-menu .box-menu li{
        width: 100%;
    }
    header#header .wrap-menu li a {
        font-size: 16px;
        padding: 10px 25px;
        color: #FFF;
    }

}
@media (max-width: 768px) {
    #banner-main .wrap-content-banner .content-banner .title .hastag {
        font-size: 27px;
    }
    #banner-main .wrap-content-banner .content-banner .title{
        font-size: 52px;
    }
    #banner-main .wrap-content-banner .content-banner .text {
        font-size: 28px;
    }
    header#header {
        top: 40px;
    }
    #banner-main #background-banner{
        display: none;
    }
    #banner-main .background-banner-mobile{
        display: block;
        width: 100%;
        height: 672px;
    }
    #banner-main .wrap-content-banner .container {
        top: 140px;
        transform: unset;
    }
    #banner-main .wrap-content-banner .content-banner{
        padding-left: 10px;
    }
    #form-top{
        padding: 20px 0 30px;
    }
    #form-top form .text {
        font-size: 22px;
        margin-bottom: 15px;
    }
    #slide-service .box-title{
        max-width: 250px;
        margin: 0 auto;
    }
    #list-cntt .title-section, #branchs .title-branch, #about-us .box-title, #map-resiger .title, #actions .box-title, #form-resiger-main .box-title, #slide-service .box-title{
        text-align: center;
    }
    #list-cntt{
        padding-bottom: 10px;
    }
    #list-cntt [class*="col-"] {
        margin-bottom: 20px;
    }
    #list-cntt .hidden-mobile{
        display: none;
    }
    #about-us .owl-theme{
        margin-top: 55px;
    }
    #about-us .owl-theme .owl-nav {
        right: unset;
        left: 50%;
        top: -45px;
        transform: translateX(-50%);
    }
    #about-us .owl-theme .owl-nav button{
        width: 38px;
        height: 38px;
    }
    #map-resiger .row{
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    #map-resiger .row::before{
        display: none;
    }
    #map-resiger .row [class*="col-"]{
        flex: 0 0 303px;
        max-width: 303px;
    }
    #map-resiger .row [class*="col-"]::before{
        content: "";
        height: 7px;
        width: 100%;
        background-color: #e0e1e2;
        display: block;
        position: absolute;
        top: 14px;
        left: 0;
        right: 0;
    }
    #map-resiger .row [class*="col-"]:first-child::before{
        border-radius: 5px 0 0 5px;
        left: 5px;
        width: calc(100% - 5px);
    }
    #map-resiger .row [class*="col-"]:last-child::before{
        right: 5px;
        width: calc(100% - 5px);
        border-radius: 0 5px 5px 0;
    }
    #form-resiger-main .wrap-form{
        width: calc(100% - 60px);
        margin: 0 auto;
    }
    #form-resiger-main .wrap-form .box-resi{
        flex-direction: column;
        align-items: flex-start;
    }
    #form-resiger-main .wrap-form .box-resi .title{
        margin-bottom: 10px;
    }
    #form-resiger-main .wrap-form .box-resi .list-item {
        flex-wrap: wrap;
    }
    #form-resiger-main .wrap-form .box-resi .list-item .form-check{
        margin: 0 0 10px 0;
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
        min-width: unset;
    }
    footer#footer .footer-main{
        flex-direction: column;
        justify-content: center;
    }
    footer#footer .footer-main .item{
        margin-bottom: 15px;
    }
    footer#footer .footer-main .item:nth-child(1){
        order: 1;
    }
    footer#footer .footer-main .item:nth-child(2){
        order: 3;
    }
    footer#footer .footer-main .item:nth-child(3){
        order: 2;
    }
    #form-top .wrap-form .form-group {
        flex: unset;
        max-width: 100%;
        width: 100%;
    }
    .wrap-form{
        max-width: calc(100% - 60px);
    }
    .wrap-form .form-group .form-control{
        width: 100%;
    }
    #list-cntt [class*="col-"]{
        padding-right: 15px;
    }
    #about-us .item .box-content {
        padding: 30px 30px 20px;
    }
    header#header .box-header .logo img{
        height: 56px;
    }
    #list-rate .slide-mobile{
        display: block;
    }
    #enrollment-method .box-method .title-tabs .item{
        font-size: 14px;
        padding-inline: 10px;
    }
    #enrollment-method .box-method .box-contents {
        background-color: #FFF;
        padding: 25px 30px 30px;
    }
    #enrollment-method .box-method .box-contents .item-content .box-method-item{
        flex-direction: column;
    }
    #enrollment-method .box-method .box-contents .item-content .box-method-item .list-method{
        flex: unset;
        max-width: 100%;
    }
    #enrollment-method .box-method .box-contents .item-content .box-method-item .list-method .item .number{
        display: none;
    }
    #enrollment-method .box-method .box-contents .item-content .box-method-item .list-method .item {
        margin-bottom: 15px;
        padding: 10px 15px
    }
    #categoryModal .modal-content .box-content{
        flex-direction: column-reverse;
        align-items: center;
        padding: 30px 30px 0;

    }
    #categoryModal .modal-content .box-content .box-image{
        width: 300px;
        flex: unset;
        max-width: unset;
        height: 160px!important;
        margin-right: 0;
        margin-top: 10px;
    }
    .wrap-form-modal>.d-flex{
        flex-direction: column;
        padding-inline: 10px;
    }
    #categoryModal .modal-content .box-title h3{
        font-size: 20px;
    }
    #categoryModal .modal-content {
        padding: 30px 0 40px;
    }
}
@media (max-width: 576px) {
    #enrollment-method .box-method .box-contents .list-tuition{
        flex-direction: column;
    }
    #enrollment-method .box-method .box-contents .list-tuition .item{
        width: 100%;
    }
    header#header .toggle-menu{
        right: 30px;
    }
}
@media (max-width: 375px) {
    #banner-main .wrap-content-banner .content-banner .title {
        font-size: 46px;
    }
    #banner-main .wrap-content-banner .content-banner .title .hastag {
        font-size: 25px;
    }
    #banner-main .wrap-content-banner .content-banner .text {
        font-size: 22px;
    }
}

























